{
  "connection": {
    "esb": {
      "sourceAppID": "MB",
      "targetAppIDs": "T24",
      "userID": "MB",
      "userPassword": "RUJBTksxMjM=",
      "serviceVersion": "1"
    }
  },
  "endPoint": {
    "getFlexTransInfoById": {
      "url": "https://ibmbdev.ncb-bank.vn/esbuat7800/flexCashService/v1/getFlexTransInfoById",
      "templateFile": "java/template/getFlexTransInfoById.json",
      "method": "POST"
    },
    "nopRutTienNHNN": {
      "url": "https://ibmbdev.ncb-bank.vn/esbuat7800/flexCashService/v1/nopRutTienNHNN",
      "templateFile": "java/template/nopRutTienNHNN.json",
      "method": "POST"
    }
  }
}