{
  "connection": {
    "esb": {
      "sourceAppID": "MB",
      "targetAppIDs": "IZI",
      "userID": "MB",
      "userPassword": "RUJBTksxMjM=",
      "serviceVersion": "1"
    }
  },
  "endPoint": {
    "getFlexTransInfoById": {
      "url": "https://ibmbdev.ncb-bank.vn/esbuat7800/flexCashService/v1/getFlexTransInfoById",
      "templateFile": "java/template/getFlexTransInfoByIdReq.json",
      "templateFileResponse":"java/template/getFlexTransInfoByIdRes.txt",
      "method": "POST",
      "esb": {
        "sourceAppID": "MB",
        "targetAppIDs": "IZI",
        "userID": "MB",
        "userPassword": "RUJBTksxMjM=",
        "serviceVersion": "1"
      }
    },
    "nopRutTienNHNN": {
      "url": "https://ibmbdev.ncb-bank.vn/esbuat7800/flexCashService/v1/nopRutTienNHNN",
      "templateFile": "java/template/nopRutTienNHNNReq.json",
      "templateFileResponse":"java/template/nopRutTienNHNNRes.txt",
      "method": "POST",
      "esb": {
        "sourceAppID": "MB",
        "targetAppIDs": "IZI",
        "userID": "MB",
        "userPassword": "RUJBTksxMjM=",
        "serviceVersion": "1"
        }
      },
      "trangThaiAnChi": {
        "url": "https://ibmbdev.ncb-bank.vn/esbuat7800/flexCashRestService/v1/trangThaiAnChi",
        "templateFile": "java/template/trangThaiAnChiReq.json",
        "templateFileResponse":"java/template/trangThaiAnChiRes.txt",
        "method": "POST"
      },
    "getCustomerInfoById": {
      "url": "https://ibmbdev.ncb-bank.vn/esbuat7800/flexCashService/v1/getCustomerInfoById",
      "templateFile": "java/template/getCustomerInfoByIdReq.json",
      "templateFileResponse":"java/template/getCustomerInfoByIdRes.txt",
      "method": "POST",
      "esb": {
        "sourceAppID": "MB",
        "targetAppIDs": "T24",
        "userID": "MB",
        "userPassword": "RUJBTksxMjM=",
        "serviceVersion": "1"
        }
      }  
  }
}